static/*
mysite/settings.py
ktp/__pycache__/*
mysite/__pycache__/*
mathapi/__pycache__/*
mathapi/migrations/__pycache__/*
mathapi/functions/__pycache__/*
ktp/migrations/__pycache__/*
posts/__pycache__/*
posts/migrations/__pycache__/*
gia/migrations/__pycache__/*
__pycache__/*
gia/__pycache__/*
blog/__pycache__/*
blog/migrations/__pycache__/*
