{% extends "base.html" %}

{% block title %}{{ postblog.title }}{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/atom-one-light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}

    <div class="row">
    <div class="col-12 mt-5"><h2 class="post-title"><a href="{% url 'blog-list' %}">Блог &laquo;Прогулки по Вселенной&raquo;</a></h2></div>
        <div class="col-md-1"></div>
            <div class="col-12 col-md-10 single-post">

            <h3 class="post-title">{{ postblog.title }}</h3>
            <div class="post-add">
                    <h6 class="post-date" style="margin-top: -5px">Создано: {{ postblog.created_at|date:'j E Y' }}</h6>
                    <h6 class="post-date" style="margin-top: -5px">Категория: <a href="{{ postblog.category.get_absolute_url }}">{{ postblog.category }}</a></h6>
                    <h6 class="post-date" style="margin-top: -5px">Просмотры: {{ postblog.hits }}</h6>
                    <h6 class="post-tags" style="margin-top: -5px">Тэги:
                        {% for tag in postblog.tags.all %}
                            <span class="span-tags"><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></span>
                        {% endfor %}
                    </h6>
                </div>
                <div class="post-fulltext">{{ postblog.intro|safe }}</div>
                {% if postblog.full_text %}
                    <div class="post-fulltext">{{ postblog.full_text|safe }}</div>
                {% endif %}
            </div>
        <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}