{% extends "base.html" %}

{% block title %}Задание {{ task_number }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col single-post">
                <h3 class="post-title">
                    {% if exam == 'oge' %}
                        ОГЭ
                    {% elif exam == 'ege' %}
                        ЕГЭ
                    {% endif %}
                </h3>
                <h4>Задания для подготовки</h4>
                <p> Задачи разных лет из реальных экзаменом, демо-вариантов, сборников задач и других источников</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    {% for n in task_range %}
                        <li class="nav-item">
                            <a href="/gia/{{ exam }}/{{ n }}/" class="nav-link
				          		{% if task_number == n %}
				           			active
				           		{% endif %}
				           	">{{ n }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col single-post">

                {% for task in gia_list %}
                    <h3 class="post-title">
                        {% if task.file_with_solition %}
                            <a href="/gia/show/{{ task.slug }}/">
                        {% endif %}
                        {{ task.title }}
                        {% if task.file_with_solition %}
                            </a>
                        {% endif %}
                    </h3>
                    <div class="post-fulltext">{{ task.task_text | safe }}</div>
                    {% if task.file_with_solition %}
                        <p><a href="/gia/show/{{ task.slug }}/">Показать решение...</a></p>
                    {% endif %}
                    <hr/>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}