{% extends "base.html" %}

{% block title %}{{ tasktype }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-12 col-md-10 single-post mt-5">
            <h2 class="blog-title">{{ tasktype.exam }}</h2>
            <h6>Задания для подготовки</h6>
            <p> Задачи разных лет из реальных экзаменов, демо-вариантов, сборников задач и других источников</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-10 mb-4">
            <ul class="nav nav-tabs">
                {% for n in tasktype.exam.tasktype_set.all %}
                    <li class="nav-item alex-navbar-tasks">
                        <a href="{{ n.get_absolute_url }}" class="nav-link
                            	    {% if tasktype.task_number == n.task_number %}
				           				active
				           			{% endif %}
				         		">{{ n.task_number }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-10 single-post">

            {% for task in page_obj.object_list %}
                <h3 class="post-title">
                    {% if task.file_with_solution or task.solution %}
                        <a href="{{ task.get_absolute_url }}">
                    {% endif %}
                    {{ task.title }}
                    {% if task.file_with_solution or task.solution %}
                        </a>
                    {% endif %}
                </h3>
                <div class="post-fulltext">{{ task.task_text | safe }}</div>
                {% if task.file_with_solution or task.solution %}
                    <p><a href="{{ task.get_absolute_url }}">Показать решение...</a></p>
                {% endif %}
                <hr/>
            {% endfor %}

        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}