{% extends "index.html" %}

{% block title %}КТП - все классы{% endblock %}

{% block content %}

  <div class="container">
      <p></p>
      <div class="row justify-content-center">
          <h3>Календарно-тематические планы</h3>
      </div>
      <p></p>
  </div>

  <div class="container">
      <p></p>
      <ul class="list-unstyled">
        <li><a href="/ktp/8/1/">Алгебра. 8 класс</a></li>
        <li><a href="/ktp/8/2/">Геометрия. 8 класс</a></li>
        <li><a href="/ktp/9/1/">Алгебра. 9 класс</a></li>
        <li><a href="/ktp/9/2/">Геометрия. 9 класс</a></li>
        <li><a href="/ktp/10/4/">Алгебра и НМА. 10 класс</a></li>
        <li><a href="/ktp/10/5/">Геометрия. 10 класс</a></li>
        <li><a href="/ktp/11/3/">Алгебра и НМА. 11 класс</a></li>
        <li><a href="/ktp/11/2/">Геометрия. 11 класс</a></li>
      </ul>
  </div>
{% endblock %}