<!doctype html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script src="https://kit.fontawesome.com/01c568b262.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% block scripts %}

    {% endblock %}

    <title>{% block title %}Домашняя страница{% endblock %}</title>

</head>

<body>

<header>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-ligth">

            <a class="navbar-brand" href="/"><span class="alex-navbar-black">Alex</span><span class="alex-navbar-blue">Math</span></a>
            <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active"
                           data-toggle="dropdown" href="#"
                           role="button" aria-haspopup="true"
                           aria-expanded="false">ГИА</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'ege-math' %}">Математика. ЕГЭ</a>
                            <a class="dropdown-item" href="{% url 'oge-math' %}">Математика. ОГЭ</a>
                            <a class="dropdown-item" href="{% url 'oge-inf' %}">Информатика. ОГЭ</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/administrirovaniye/">Администрирование</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active"
                           data-toggle="dropdown" href="#"
                           role="button" aria-haspopup="true"
                           aria-expanded="false">Мои классы</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/ktp/8/1/">Алгебра 8 класс</a>
                            <a class="dropdown-item" href="/ktp/8/2/">Геометрия 8 класс</a>
                            <a class="dropdown-item" href="/ktp/9/1/">Алгебра 9 класс</a>
                            <a class="dropdown-item" href="/ktp/9/2/">Геометрия 9 класс</a>
                            <a class="dropdown-item" href="/ktp/10/4/">Алгебра 10 класс</a>
                            <a class="dropdown-item" href="/ktp/10/5/">Геометрия 10 класс</a>
                            <a class="dropdown-item" href="/ktp/11/3/">Алгебра 11 класс</a>
                            <a class="dropdown-item" href="/ktp/11/2/">Геометрия 11 класс</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://blog.alex-math.ru/blog">Блог</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

{% block content %}
    <div class="container">

        <h5><a href="/ktp/">Календарно-тематические планы:</a></h5>

        <ul class="list-unstyled">
            <li><a href="/ktp/8/1/">Алгебра. 8 класс</a></li>
            <li><a href="/ktp/8/2/">Геометрия. 8 класс</a></li>
            <li><a href="/ktp/9/1/">Алгебра. 9 класс</a></li>
            <li><a href="/ktp/9/2/">Геометрия. 9 класс</a></li>
            <li><a href="/ktp/10/4/">Алгебра и НМА. 10 класс</a></li>
            <li><a href="/ktp/10/5/">Геометрия. 10 класс</a></li>
            <li><a href="/ktp/11/3/">Алгебра и НМА. 11 класс</a></li>
            <li><a href="/ktp/11/2/">Геометрия. 11 класс</a></li>
        </ul>

    </div>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="row">
            <div class="col single-post">
                <nav aria-label="Task navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item
                                {% if not page_obj.has_previous %}
                                    disabled
                                {% endif %}
							">
                            <a href="{{ request.path }}?page=1" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% for n in page_obj.paginator.page_range %}
                            <li class="page-item
                                {% if  page_obj.number == n %}
                                    disabled
                                {% endif %}
                                "><a href="{{ request.path }}?page={{ n }}" class="page-link">{{ n }}
                                {% if page_obj.number == n %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                            </li>
                        {% endfor %}
                        <li class="page-item
                                {% if not page_obj.has_next %}
                                    disabled
                                {% endif %}
							">
                            <a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}" class="page-link"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</html>