{% extends "index.html" %}

{% block title %}Задание {{task_number}}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col single-post">
				<h3 class="post-title">
					{% if exam == 'oge' %}
			            ОГЭ
			        {% elif exam == 'ege' %}
			            ЕГЭ
			        {% endif %}		 
				</h3>
				<h4>Задания для подготовки</h4>
				<p>Задачи разных лет из реальных экзаменом, демо-вариантов, сборников задач и других источников</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="nav nav-tabs">
					{% for n in task_range %}
				        <li class="nav-item">
				         	<a href="/gia/{{exam}}/{{n}}/" class="nav-link
				          		{% if task_number == n %}
				           			active
				           		{% endif %}
				           	">{{n}}</a>
					    </li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col single-post">
				
						{% for task in tasks %}
							<h3 class="post-title">
							    {% if task.file_with_solition %}
							      <a href="/gia/show/{{task.slug}}/">
							    {% endif %}
							    {{task.title}}
							    {% if task.file_with_solition %}
							      </a>
							    {% endif %}
						    </h3>
							<div class="post-fulltext">{{task.task_text | safe}}</div>
							{% if task.file_with_solition %}
 								<p><a href="/gia/show/{{task.slug}}/">Показать решение...</a></p>
							{% endif %}
							<hr />
						{% endfor %}
				
			</div>
		</div>
		<div class="row">
			<div class="col single-post">
				{% if total_tasks > 10 %}
					<nav aria-label="Task navigation">
						<ul class="pagination justify-content-center">
							<li class="page-item
                                {% if offset == 1 %}
                                    disabled
                                {% endif %}
							">
								<a href="/gia/{{exam}}/{{task_number}}/{{offsetm1}}/" class="page-link" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							{% for n in pages_range %}
                                <li class="page-item
                                {% if offset == n %}
                                    disabled
                                {% endif %}
                                "><a href="/gia/{{exam}}/{{task_number}}/{{n}}/" class="page-link">{{n}}
                                   {% if offset == n %}
                                      <span class="sr-only">(current)</span>
                                   {% endif %}
                                   </a>
                                </li>
							{% endfor %}
							<li class="page-item
                                {% if offset == pages_count %}
                                    disabled
                                {% endif %}
							">
								<a href="/gia/{{exam}}/{{task_number}}/{{offsetp1}}/" class="page-link" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}