{% extends "base.html" %}

{% block title %}КТП - {{discipline_name}} - {{form}} класс{% endblock %}

{% block content %}

  <div class="container">
      <p></p>  
      <div class="row justify-content-center">
        
          <h3 class="center">Календарно-тематический план</h3>
      
      </div>
      <div class="row justify-content-center">
          <h4>{{discipline_name}}. {{form}} класс</h4>
      </div>
      <p></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">№ урока</th>
                <th scope="col">Планируемая дата</th>
                <th scope="col">Дата проведения</th>
                <th scope="col">Тема</th>
                <th scope="col">Домашнее задание</th>
              </tr>
            </thead>
            <tbody>

              {% for lesson in lessons_list %}

                <tr>
                    <th scope="row">{{lesson.number_of_lesson}}</th>
                    <td>{{lesson.plan_date}}</td>
                    <td>
                        {% if lesson.fact_date  %}
                           {{lesson.fact_date}}
                        {% endif %}
                    </td>
                    <td>{{lesson.theme | safe}}</td>
                    <td>
                         {% if lesson.home_task %}
                              {{lesson.home_task | safe}}
                         {% endif %}
                    </td>
                </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
    </div>
  </div>
{% endblock %}