{% extends "index.html" %}

{% block title %}
    {% if post %}
        {{post.title}}
    {% else %}
        Ошибка
    {% endif %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			{% if post and category %}
			    <div class="col single-post">
				    <h5 class="post-category"><a href="/{{category.slug}}/">{{category.category_name}}</a></h5>
				    <h3>{{post.title}}</h3>
				    <div class="post-add">
					    <h6 class="post-date">Дата создания: {{post.created_at}}</h6>
					    <h6 class="post-tags">Тэги: 
						    {% for tag in tags %}
							    <span class="span-tags"><a href="/tag/{{tag.slug}}/">{{tag.tag_name}}</a></span>
						    {% endfor %}
				        </h6>
				    </div>
				    <div class="post-description">{{post.short_description | safe}}</div>
				    <div class="post-fulltext">{{post.full_text | safe}}</div>
			    </div>
			{% else %}
                <div class="col category-post">
                    <h4>Ошибка!</h4>
                    <p>Такой страницы не существует!</p>
                </div>
            {% endif %}
		</div>
	</div>
{% endblock %}