{% extends "index.html" %}

{% block title %}Рабочие программы{% endblock %}
  
{% block content %}
  <div class="container">
      <h5>Рабочие программы:</h5>

      <ul class="list-unstyled">
          <li><a href="/static/pdf/rp/2020/ktp8alg.pdf">Алгебра. 8 класс</a></li>
          <li><a href="/static/pdf/rp/2020/ktp8geom.pdf">Геометрия. 8 класс</a></li>
          <li><a href="/static/pdf/rp/2020/ktp9alg.pdf">Алгебра. 9 класс</a></li>
          <li><a href="/static/pdf/rp/2020/ktp8geom.pdf">Геометрия. 9 класс</a></li>
          <li><a href="/static/pdf/rp/2020/ktp10alg.pdf">Алгебра и НМА. 10 класс</a></li>
          <li><a href="/static/pdf/rp/2020/ktp10geom.pdf">Геометрия. 10 класс</a></li>
          <li><a href="/static/pdf/rp/2020/ktp11alg.pdf">Алгебра и НМА. 11 класс</a></li>
          <li><a href="/static/pdf/rp/2020/ktp11geom.pdf">Геометрия. 11 класс</a></li>
      </ul>
      
  </div>
{% endblock %}

