{% extends 'base.html' %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script async src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <div id="app" class="card text-center mt-5">
                <div class="row">
                    <div class="col-12">
                        <h3>Таблица умножения</h3>
                        <p>Выполните задание</p>
                        <h1 :key="componentKey"
                            id="math-task"
                            class="mt-5 mb-5"
                            style="color: #000000"> [[ task ]]</h1>
                    </div>


                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="form-outline mt-3">
                            <input type="text" id="form1" class="form-control text-center"
                                   v-model="answer"
                                   v-focus v-on:keyup.enter="setTask"
                                   :disabled="givenTasks >= totalTasks"/>
                            <label class="form-label" for="form1">Ответ</label>
                        </div>
                        <div class="mb-5">
                            <p v-bind:style="{color: activeColor}">[[ message ]]</p>
                        </div>
                    </div>
                    <div class="col-2"></div>

                    <div class="col-12">
                        <p>Задание [[ givenTasks ]] из [[ totalTasks ]]</p>
                        <p>Правильно решённых: [[ correctSolvedTasks ]]</p>
                        {% comment %}<p>Оценка: <strong>[[ mark ]]</strong></p>{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/train/multtab.js"></script>
{% endblock %}